name: "CI/Build Artefact"

on:
  push:
    branches:
      - main

jobs:
  release-version:
    runs-on: ubuntu-latest
    env:
      STACK_NAME: "github-devops"
      COMMENT: ""
      VERSION_FILE: ".version.json"
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Release
      id: build_package
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      uses: ridedott/release-me-action@v3.5.53
      with:
        node-module: true
        release-branches: '["main", "master"]'

    - name: Update dev environment version
      if: steps.build_package.outputs.released == 'true'
      run: |
        tmp=$(mktemp)
        jq '.dev = "v${{ steps.build_package.outputs.version }}"' $VERSION_FILE > "$tmp" && mv "$tmp" $VERSION_FILE

    - name: Update resources
      if: ${{ success() }}
      uses: test-room-7/action-update-file@v1
      with:
        file-path: ${{ env.VERSION_FILE }}
        commit-msg: Update file version
        github-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Notification
      run: |
        message="There are no relevant changes"
        if [[ "${{ steps.build_package.outputs.released }}" == "true" ]]; then
            message="*Release version:* <$RELEASE_URL|v${{ steps.build_package.outputs.version }}>  "
            message+="*App:* $STACK_NAME "
        fi
        echo COMMENT=$(echo $message) >> $GITHUB_ENV
      env:
        RELEASE_URL: 'https://github.com/${{ github.repository }}/releases/tag/v${{ steps.build_package.outputs.version }}'
        STACK_NAME: ${{ env.STACK_NAME }}

    - name: Slack Notification
      if: steps.build_package.outputs.released == 'true'
      uses: rtCamp/action-slack-notify@v2.0.2
      env:
        SLACK_COLOR: '#06E81D'
        SLACK_TITLE: ':package: Release details (*${{ env.STACK_NAME }}*) :package: :building_construction:'
        SLACK_MESSAGE: ${{ env.COMMENT }}
        SLACK_USERNAME: devops-bot
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
